name: Build and Package

on:
  workflow_dispatch:
  pull_request:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build and Test
      shell: bash
      run: |
        chmod +x tests/build.sh tests/run-tests.sh
        ./tests/run-tests.sh

    - name: Package
      working-directory: tests/build
      run: cpack -C Release

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Z80-package-ubuntu
        path: tests/build/Z80-*.tar.gz
        if-no-files-found: warn